/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.filterable-product-table {
  width: 300px;
  margin: auto;
  padding-top: 20px;
}

.searchbar > input[placeholder="Search..."] {
  height: 20px;
}

.searchbar > label {
  font-size: 0.9rem;
}

.product-table {
  margin-top: 10px;
}

.product-table .product-table-title > span {
  width: 100px;
  font-weight: bold;
  display: inline-block;
}

.product-category-row {
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 2px;
}

.product-row {
  padding-top: 2px;
  padding-bottom: 2px;
}

.product-row > span {
  width: 100px;
  display: inline-block;
}
